:root {
  --basic-font-black-color: #000000;
  --basic-font-deepblue-color: #32425C;
  --basic-font-lightgrey-color: #F3F7F9;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background-grey: #F1F5F7;
  --basic-white: #FFFFFF;
  --special-grey: #293449;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-success-color: #5FBB2D;
  --special-error-color: #BA2732;
  --special-lightgrey-gradient: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-font-black-color);
  font-size: 13px;
  line-height: 24px;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Скрытые элементы */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Стилизация шапки */

.main-navigation {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-font-black-color);
  background-color: var(--basic-font-lightgrey-color);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.navigation-wrapper {
  background-color: var(--special-grey);
  color: var(--basic-white);
}

.navigation-wrapper input {
  color: var(--basic-white);
  background-color: var(--special-grey);
}

.navigation-wrapper input:focus {
  color: var(--basic-font-black-color);
  background-color: var(--basic-white);
}

.navigation-wrapper a,
.navigation-wrapper a:focus {
  color: var(--basic-white);
}

.navigation-wrapper a:hover:not(.header-logo, .btn-place-order) {
  background-color: #161D29;
}

.navigation-wrapper a:active {
  color: rgba(255, 255, 255, 0.5);
}

.btn-place-order,
.btn-place-order:focus,
.btn-place-order:active {
  background-color: var(--basic-green);
}

.btn-place-order:hover {
  background-color: var(--special-success-color);
}

.full-basket {
  background-color: var(--basic-red);
}

.btns-user a,
.btns-user p {
  color: var(--basic-font-black-color);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
}

.btns-user a:hover {
  color: var(--basic-red);
}

.btns-user a:active {
  color: var(--basic-greylight);
}

.btns-user .account {
  background-color: var(--basic-font-lightgrey-color);
  font-size: 16px;
  line-height: 18px;
}

.header-tagline {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header-adress {
  color: var(--basic-font-deepblue-color);
  font-size: 14px;
  line-height: 24px;
}

.header-adress a {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.site-navigation {
  list-style: none;
  background-color: var(--basic-font-deepblue-color);
}

.site-navigation a,
.site-navigation a:focus {
  color: var(--basic-white);
}

.site-navigation a:hover {
  background-color: var(--special-grey);
}

.site-navigation a:active {
  background-color: #1D2739;
  color: rgba(255, 255, 255, 0.5);
}

/* Стилизация футера */

.main-footer,
.main-footer a{
  background-color: var(--basic-font-deepblue-color);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background-grey);
  font-family: "Cuprum", Arial, sans-serif;
}

.main-footer ul {
  list-style: none;
}

.footer-list-nav-yellow a{
  color: var(--special-yellowlight);
}

.footer-list-nav-white a:hover,
.footer-list-nav-yellow a:hover {
  text-decoration: underline;
}

.footer-list-nav-white a:active,
.footer-list-nav-yellow a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-container-ligth-grey,
.footer-container-ligth-grey a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--special-grey);
}

.footer-container-ligth-grey a{
  color: var(--special-yellowlight);
}

.footer-container-ligth-grey a:hover {
  text-decoration: underline;
}

.footer-container-ligth-grey a:active {
  text-decoration: none;
  color: var(--basic-red);
}

.socials a {
  background-color: #212A3A;
  color: var(--basic-white);
}

.socials a:hover {
  background-color: var(--basic-red);
  text-decoration: none;
}

.socials a:active {
  color: var(--basic-white);
}

/* Модальные окна */

.modal {
  display: none;
}

/* Index, основные свойства */

.main-btn {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.title {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}

.title-medium {
  font-size: 30px;
  line-height: 30px;
}

.title-small {
  font-size: 18px;
  line-height: 20px;
}

/* Index, преимущества */

.advantages {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.advantages .advantages-list {
  list-style: none;
}

.advantages .building-materials {
  background-color: var(--special-ylellow);
  background-image: url("../img/icon-material.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.advantages .construction-tools {
  background-color: var(--special-blue);
  background-image: url("../img/icon-instruments.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.advantages .construction-machinery {
  background-color: var(--special-lilac);
  background-image: url("../img/icon-technic.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.advantages .product-sales {
  background-color: var(--special-greenlight);
  background-image: url("../img/icon-busket.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.advantages .advantages-delivery {
  background-color: #FFC047;
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.carousel-goods h2 {
  font-size: 36px;
  line-height: 36px;
}

.carousel-goods p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.carousel-goods .perforator {
  background-image: url("../img/image-catalog-perforator.jpg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.carousel-goods .drill {
  background-image: url("../img/drill.jpg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.advantages a {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.advantages .btn-advantages {
  background-color: rgba(255,255,255,0.3);
}

.advantages .btn-advantages:hover {
  background-color: rgba(197,197,197,0.3);
}

.advantages .btn-advantages:active {
  background-color: rgba(169,169,169,0.3);
}

/* Index, популярные товары */

.title-deepblue {
  color: var(--basic-font-deepblue-color);
}

.container-title {
  background-color: #F9F5F0;
}

.list-popular-products {
  list-style: none;
}

.list-popular-products a {
  border: 1px solid #EAEAEA;
}

/* Index, популярные производители */

.list-popular-manufacturers {
  list-style: none;
}

.list-popular-manufacturers a {
  border: 1px solid #EAEAEA;
}

.list-popular-manufacturers a:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.list-popular-manufacturers a:active {
  opacity: 0.5;
}

/* Index, о сервисах */
.container-service {
  background-color: var(--basic-background-grey);
}

.list-service {
  list-style: none;
}

.list-service a {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--basic-font-deepblue-color);
  color: var(--basic-white);
}

.list-service a:hover {
  background-color: var(--special-grey);
  color: var(--basic-white);
}

.list-service a:active,
.list-service a:focus {
  color: var(--basic-font-deepblue-color);
  background-color: var(--basic-white);
}

.service-delivery {
  background-image: url("../img/image-delivery.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.service-guarantee {
  background-image: url("../img/image-garant.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.service-credit {
  background-image: url("../img/image-credit.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

/* Index, о компании */


.main-btn:active {
  background-color: var(--special-error-color);
}

.delivery-partners {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

/* Catalog*/

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-font-black-color);
}

.title-container {
  background-color: #F2F6F8;
}

.title-large {
  font-size: 30px;
  line-height: 30px;
}

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.selection li {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.show-choice,
.show-choice:focus {
  background-color: var(--basic-white);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #E5E5E5;
}

.catalog-items {
  list-style: none;
}

.catalog-item {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #EAEAEA;
}

.catalog-item a {
  color: var(--basic-font-black-color);
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item .line-through-price {
  text-decoration: line-through;
  color: #A9A9A9;
}

.catalog-item .red-price {
  background-image: url("../img/red-button.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  color: var(--basic-white);
}

.btn-buy-hover {
  border: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-item .btn-buy,
.catalog-item .btn-buy:focus {
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.catalog-item .btn-buy:hover {
  background-color: var(--special-success-color);
}

.catalog-item .btn-buy:active {
  background-color: #518534;
}

.catalog-item .btn-bookmark {
  background-color: var(--basic-white);
  border: 3px solid;
  border-color: var(--special-success-color);
  color: var(--basic-font-deepblue-color);
  border-radius: 2px;
}

.catalog-item .btn-bookmark:hover,
.catalog-item .btn-bookmark:focus {
  border-color: var(--basic-font-deepblue-color);
}

.catalog-item .btn-bookmark:active {
  opacity: 50%;
}
